* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(90deg, #93a5cf, #e4efe9); }

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }

/* common styles */
button:hover {
  cursor: pointer; }

/* modal part */
#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

#modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 1.5rem;
  animation-name: animatemodal;
  animation-duration: 0.4s; }

#close-btn {
  align-self: flex-end; }

#close-btn:hover {
  cursor: pointer;
  color: #ff0000; }

/* modal part end */
/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }
/* animation part end */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.1s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0; }

.block {
  display: block; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#search-input {
  display: block;
  width: 350px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2a205880;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px; }

.btn-search {
  background-color: #2a205880;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .result .id-meal {
    font-size: 0px;
    margin: 20px 0px 30px; }
    .result .id-meal::after {
      content: "View recipe";
      background-color: #2a205880;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px; }

.header-title {
  margin-bottom: 20px;
  font-size: 20px; }

.youtube-link {
  background-color: #2a205880;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px 20px; }

/*# sourceMappingURL=style.css.map */
